<br>
<h1 class="container">Lista de Series</h1>

<div class="container mt-4">
  <div class="list-group">
    <% @series.each do |serie| %>
      <div class="list-group-item">
        <h5 class="mb-1"><strong>Nombre:</strong> <%= serie.name %></h5>
        <p class="mb-1"><strong>Sinopsis:</strong> <%= serie.synopsis %></p>
        <p><strong>Director:</strong> <%= serie.director %></p>
      </div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= link_to 'Ingresar serie',   series_new_path, class: 'btn btn-primary' %>
  </div>
</div>